<div class="container">
    <div class="abs-center">
        <form class="col-form-label-lg p-5 ">
            <div class="mb-3 col-5">
                <label for="email" class="form-label">Correo electrónico</label>
                <input [(ngModel)]= "email" type="email" class="form-control" paceholder="email">
                <div class="form-text">Nunca compartiremos sus datos personales con nadie.</div>
            </div>
            <div class="mb-3 col-5">
                <label for="password" class="form-label">Contraseña</label>
                <input [(ngModel)]= "password" type="password" class="form-control" >
            </div>
            <div class="mb-3 col-5">
                <label for="firstname" class="form-label">Nombre</label>
                <input [(ngModel)]= "firstname" type="text" class="form-control" paceholder="text">
                
            </div>
            <div class="mb-3 col-5">
                <label for="lastname" class="form-label">Apellido</label>
                <input [(ngModel)]= "lastname" type="text" class="form-control" paceholder="text">
                
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Verificado</label>
            </div>
            <button (click)="registrar()" type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>


<!-- Unir la parte logica de este formulario -->