<div class="container">
    <div class="abs-center">
        <form class="col-form-label-lg p-5 ">
            <div class="mb-3 col-5">
                <label for="email" class="form-label">Correo electrónico</label>
                <input [(ngModel)]= "email" type="email" class="form-control" paceholder="email">
                <div class="form-text">Nunca compartiremos sus datos personales con nadie.</div>
            </div>
            <div class="mb-3 col-5">
                <label for="password" class="form-label">Contraseña</label>
                <input [(ngModel)]= "password" type="password" class="form-control" >
            </div>
            <button (click)="login()" type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
</div>