  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img src=" ../../../assets/imagen1.jpeg" class="w-100" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p>la tienda de moda de musho cache</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/imagen2.jpeg" class="w-100" alt="Random second slide"/>
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p>La tienda de moda</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/imagen3 .jpeg"  class="w-100" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>AMOR DE JOSE</h3>
        <p></p>
      </div>
    </ng-template>
  </ngb-carousel>

  <!-- sr-only: solo lectura -->